.pagina-contacto {
   font-family: "Patrick Hand", cursive !important;
}
    .contenedorNavSup{
        background: white;
        padding: 20px;
        border-radius: 10px;
        max-width: 600px;
    }

.mi-navbar .container {
  padding: 10px 20px; 
}

.navbar-nav .nav-link {
  font-family: "Patrick Hand", cursive;
  font-weight: 400;
  font-style: normal;
  color:#211815;
  font-size: clamp(14px, 2vw, 20px);
}

.navbar-nav {
  gap: 20px;
}

.logo {
  max-width: 200px;
  height: auto;
}

/*CARD */

.category-card {
  font-family: "Patrick Hand", cursive;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  border-radius: 15px;
  background-color: #fdcc6e;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}


.category-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 18px rgba(0,0,0,0.1);
}

.category-card img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%; 
  display: block;
  margin: 0 auto 15px auto; 
  background-color: #f4f0eb; 
  padding: 10px;
}

.category-title {
  font-weight: 600;
  margin-bottom: 5px;
}

.category-count {
  color: #6c757d;
  font-size: 14px;
}

.texto{
  font-family: "Patrick Hand", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}

.footer-text{
  font-size: clamp(0.9rem, 1.5vw, 1.1rem);
}
.btn-primary {
  background-color: #211815 !important; 
  border-color: #211815 !important;
}

.btn-primary:hover {
  background-color: #211815 !important; 
  border-color: #211815 !important;
}

.custom-card {
  position: relative;
  border: none;
  border-radius: 16px;
  color: #211815;
  overflow: hidden;
  transition: all 0.3s ease;
  box-shadow: 0 6px 15px rgba(0,0,0,0.08);
  background: linear-gradient(145deg, #fdcc6e, #f4b95c);
}

.custom-card::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 16px;
  pointer-events: none;

  background: linear-gradient(
    180deg,
    rgba(255,255,255,0.2), 
    rgba(255,255,255,0) 50%
  );
}

.custom-card:hover {
  transform: translateY(-6px) scale(1.01);
  box-shadow: 0 20px 40px rgba(0,0,0,0.15),
              0 10px 20px rgba(0,0,0,0.1);
}

.custom-card::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 16px;
  pointer-events: none;
  box-shadow: inset 0 1px 2px rgba(255,255,255,0.4);
}

/*Banner Superior*/

.banner-superior{
    width:100%;
    overflow:hidden;
    background:#fdcc6e;
    padding:8px 0;
    white-space: nowrap;
}

.texto-movil{
    display:inline-block;
    white-space: nowrap;

    /* empieza totalmente fuera a la derecha */
    transform: translateX(100vw);

    animation: deslizar 15s linear infinite;
}

.texto-movil:hover{
    animation-play-state: paused;
}

@keyframes deslizar{
    from{
        transform: translateX(100vw);
    }

    to{
        transform: translateX(-100%);
    }
}

/*FOOTER*/

/* FOOTER */
.footer {
  font-family: "Patrick Hand", cursive;
  background: linear-gradient(135deg, #3b2a1a, #211815);
  color: #f5f5f5;
  position: relative;
  padding-top: 20px;   
  margin-top: 90px;    
  overflow: hidden;
}

/* CONTENIDO */
.footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;         
  padding: 25px;      
  text-align: center;
}

/* ONDA SUPERIOR */
.footer-wave-top {
  position: absolute;
  top: 0;
  width: 100%;
  height: 40px;
  background: #fdcc6e;
  border-bottom-left-radius: 50% 40px;
  border-bottom-right-radius: 50% 40px;
}

/* COLUMNAS */
.footer-col h3,
.footer-col h4 {
  color: #fdcc6e;
  margin-top: 10px;
}

.footer-col p {
  font-size: 14px;
  margin: 8px 0;
}

/* ICONOS CIRCULARES */
.icon-circle {
  width: 60px;
  height: 60px;
  margin: auto;
  background: #fdcc6e;
  color: #3b2a1a;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  box-shadow: 0 0 15px rgba(242, 200, 121, 0.4);
}

/* LINKS */
.footer-col ul {
  list-style: none;
  padding: 0;
}

.footer-col ul li {
  margin: 6px 0;
}

.footer-col a {
  color: #ddd;
  text-decoration: none;
  transition: 0.3s;
}

.footer-col a:hover {
  color: #fdcc6e;
  padding-left: 5px;
}

/* FOOTER BOTTOM */
.footer-bottom {
  text-align: center;
  margin-top: 10px;
  padding: 10px;
  font-size: 13px;
  border-top: 1px solid #5a3e28;
  color: #bbb;
}

