.pagina-contacto {
   font-family: "Patrick Hand", cursive !important;
}
    .contenedorNavSup{
        background: white;
        padding: 20px;
        border-radius: 10px;
        max-width: 600px;
    }

    a{
       color:blue;
    }

 

 .navbar-nav .nav-link {
  color: #211815 !important;
  
}
.mi-navbar .container {
  padding: 50px;
}

.custom-navbar,
.navbar-nav .nav-link {
  font-family: "Patrick Hand", cursive;
  font-weight: 400;
  font-style: normal;
  color:#fdcc6e;
}

.navbar-nav .nav-link {
  font-size: clamp(14px, 2vw, 20px);
}

.navbar-nav {
  gap: 20px;
}

.logo {
  max-width: 200px;
  height: auto;
}

/*CARD */

.category-card {
  font-family: "Patrick Hand", cursive;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  border-radius: 15px;
  background-color: #fdcc6e;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}


.category-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 18px rgba(0,0,0,0.1);
}

.category-card img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%; /*  hace la imagen redonda */
  display: block;
  margin: 0 auto 15px auto; /*  centra y separa del texto */
  background-color: #f4f0eb; /* opcional, fondo suave */
   padding: 10px;/* opcional, da aire */
}

.category-title {
  font-weight: 600;
  margin-bottom: 5px;
}

.category-count {
  color: #6c757d;
  font-size: 14px;
}

.texto{
  font-family: "Patrick Hand", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}
.footer-text{
  font-size: clamp(0.9rem, 1.5vw, 1.1rem);
}

.card {
    border: none;
    border-radius: 15px;
    transition: all 0.3s ease;
}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 15px 30px rgba(0,0,0,0.15);
}

.banner-superior{
    width:100%;
    overflow:hidden;
    background:#fdcc6e;
    padding:8px 0;
    white-space: nowrap;
}

.texto-movil{
    display:inline-block;
    white-space: nowrap;

    /* empieza totalmente fuera a la derecha */
    transform: translateX(100vw);

    animation: deslizar 15s linear infinite;
}

.texto-movil:hover{
    animation-play-state: paused;
}

@keyframes deslizar{
    from{
        transform: translateX(100vw);
    }

    to{
        transform: translateX(-100%);
    }
}