.espaciado {
  margin:60px,0px,0px,60px;
}
    .contenedorNavSup{
        background: white;
        padding: 20px;
        border-radius: 10px;
        max-width: 600 px;
    }

    a{
       color:blue;
    }

 .texto{
    color:black;
    font-size: 50px;
}

 .navbar-nav .nav-link {
  color: #0d2c54 !important;
  
}
.mi-navbar .container {
  padding: 50px;
}

.custom-navbar,
.navbar-nav .nav-link {
  font-family: "Patrick Hand", cursive;
  font-weight: 400;
  font-style: normal;
}

.navbar-nav .nav-link {
  font-size: clamp(14px, 2vw, 20px);
}

.navbar-nav {
  gap: 20px;
}

.logo {
  max-width: 200px;
  height: auto;
}

/*CARD */

.category-card {
  font-family: "Patrick Hand", cursive;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  border-radius: 15px;
  background-color: #ff751f;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

.category-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 18px rgba(0,0,0,0.1);
}

.category-card img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%; /*  hace la imagen redonda */
  display: block;
  margin: 0 auto 15px auto; /*  centra y separa del texto */
  background-color: #f4f0eb; /* opcional, fondo suave */
   padding: 10px;/* opcional, da aire */
}

.category-title {
  font-weight: 600;
  margin-bottom: 5px;
}

.category-count {
  color: #6c757d;
  font-size: 14px;
}
.texto{
  font-family: "Patrick Hand", cursive;
  font-weight: 400;
  font-style: normal;
}
.footer-text{
  font-size: clamp(0.9rem, 1.5vw, 1.1rem);
}