.paginaProductos {
     font-family: "Patrick Hand", cursive;
}

<!--carrouselproductos->
.carouselProductos {
  max-width: 800px;
  width: 90%;        
  max-width: 1200px;
  margin: auto;
}

.card img {
  height: 240px;
  object-fit: cover;
 border-radius: 10px;
}

<!--boton->
.btn-custom:hover {
    background-color: #211815;
    color: #fdcc6e;
}

.btn-custom {
    background-color: #fdcc6e !important;
    color: #211815 !important;
    border: 2px solid #211815 !important;
    padding: 12px 25px;   
    font-size: 16px;     
    border-radius: 10px;

    margin: 10px;       
    cursor: pointer;
}

<!--carrouselproductos->
.btn-categoria:hover {
    background-color: #211815;
    color: #fdcc6e;
}


.btn-agregar {
    background-color: #fdcc6e;
    border: 2px solid #211815;
    color: #211815;
}

.btn-agregar:hover {
    background-color: #211815;
    color: #fdcc6e;
}


body {
    font-family: Arial;
    background-color: #f5f5f5;
}

/* TARJETA */
.card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    overflow: hidden;
}

/* IMAGEN */
.card img {
    height: 180px;
    object-fit: cover;
}

/* TEXTO */
.card-title {
    font-size: 18px;
}

.card-text {
    font-size: 14px;
    color: gray;
}

/* PRECIO */
.text-success {
    font-weight: bold;
}

/* BOTÓN */
.btn-dark {
    background-color: #211815;
    color: #fdcc6e;
    border: none;
}

.btn-dark:hover {
    opacity: 0.85;
}

.card-body {
  display: flex;
  flex-direction: column;
}

.card-body button {
  margin-top: auto;
  align-self: center;
}